{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
  <h1>Mes Pizzas</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prix</th>
        <th>Ingrédients</th>
      </tr>
    </thead>
    <tbody>
      {% for pizza in pizzas %}
        <tr value={{ pizza.id }}>
          <td>{{ pizza.name }}</td>
          <td class="pizzaPrice">{{ pizza.price }}</td>
          <td>
            {% for pizzaIngredient in pizza.ingredients %}
              <button class="btn btn-success m-1 ingredient" value={{ pizzaIngredient.id }} data-bs-toggle="tooltip" data-bs-title="Prix : {{ pizzaIngredient.price }}">
                {{ pizzaIngredient.name }}
              </button>
            {% endfor %}

            {% for ingredient in ingredients %}
              {% if ingredient not in pizza.ingredients %}
                <button class="btn btn-secondary m-1 ingredient" value={{ ingredient.id }} data-bs-toggle="tooltip" data-bs-title="Prix : {{ ingredient.price }}">
                  {{ ingredient.name }}
                </button>
              {% endif %}
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
